<p id="notice"><%= notice %></p>

<% if @locations.any? %>
  <h1>Locations</h1>
  <%= paginate @locations %>
  <br>
  <table id="location-table">
    <thead id="location-column-names">
      <tr>
        <th>Continent</th>
        <th>Country</th>
        <th>City</th>
        <th>Community</th>
        <th>Street address</th>
        <th>Longitude</th>
        <th>Latitude</th>
      </tr>
    </thead>

    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= location['continent'] %></td>
          <td><%= location['country'] %></td>
          <td><%= location['city'] %></td>
          <td><%= location['community'] %></td>
          <td><%= location['street_address'] %></td>
          <td><%= location['longitude'] %></td>
          <td><%= location['latitude'] %></td>
          <td><%= link_to 'Show', location_path(location['id']) %></td>
          <td><%= link_to 'Edit', edit_location_path(location['id']) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Location', new_location_path %>
  <br>
  <br>
  <%= paginate @locations %>
  <br>

  <% else %>
    <h1>Locations</h1>
    <p> There are no locations yet!</p>
    <%= link_to 'New Location', new_location_path %>
<% end %>
